<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="https://res.cloudinary.com/dedakscgk/image/upload/v1722448052/3TIgreenPlan_de_travail_1_bhib3u.png"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>About - 3tiresearch</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
      body {
        font-family: montserrat;
      }

      .content {
        background-image: url("https://res.cloudinary.com/dedakscgk/image/upload/v1717181224/cover_ra0z3c.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .footer-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.6);
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .footer-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      .header-container {
        position: relative;
        height: 330px;
        overflow: hidden;
      }

      .footer-container {
        position: relative;
        height: 620px;
        overflow: hidden;
      }

      /* .dos{
                background-image: url('https://res.cloudinary.com/dedakscgk/image/upload/v1702985333/groupe-cinq-etudiants-africains-passant-du-temps-ensemble-campus-cour-universite-amis-afro-noirs-etudiant-theme-education_kgwxrz.jpg');
                background-size: 100%;
                background-position: center;
                background-clip: initial;
            } */
    </style>
  </head>
  <body class="w-full lg:w-full sm:w-full">
    <!-- Before Header -->
    <div class="w-full bg-green-800 text-white">
      <div class="w-full max-w-screen-lg mx-auto px-4">
        <div
          class="flex flex-row justify-between md:flex-row md:justify-between md:items-center py-1"
        >
          <div class="flex flex-col md:flex-row text-sm space-y-1 md:space-y-0">
            <p><a href="#">(+225) 07 58 80 14 10</a></p>
            <p class="md:px-4"><a href="">contact@3tiresearch.com</a></p>
          </div>
          <div class="flex space-x-4 mt-4 justify-center md:mt-0">
            <a href="https://www.facebook.com/3tiresearch/" type="_blank"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a
              href="https://www.linkedin.com/company/3tiresearch/?originalSubdomain=ci"
              type="_blank"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <div class="w-full py-2 shadow-md">
      <div class="w-full max-w-screen-lg mx-auto px-4">
        <nav class="flex items-center justify-between">
          <div>
            <a href="#">
              <img
                src="https://res.cloudinary.com/dedakscgk/image/upload/v1722448052/3TIgreenPlan_de_travail_1_bhib3u.png"
                class="w-32"
                alt="LOGO"
              />
            </a>
          </div>
          <div class="block md:hidden">
            <button id="menu-toggle" class="text-gray-700 focus:outline-none">
              <i class="fa-solid fa-bars text-2xl"></i>
            </button>
          </div>
          <div class="hidden md:flex py-3 w-full md:w-auto">
            <ul
              class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 font-bold text-gray-700"
            >
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="articles.html">Articles</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="fixed inset-0 bg-white z-50 md:hidden hidden">
      <div class="flex flex-col items-center pt-10">
        <button
          id="menu-close"
          class="absolute top-4 right-4 text-gray-700 text-2xl"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
        <ul class="flex flex-col space-y-4 font-semibold text-gray-700">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="service.html">Services</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="articles.html">Articles</a></li>
        </ul>
      </div>
    </div>

    <div class="header-container">
      <div
        class="w-full bg-black opacity-70 text-white pt-32 pb-8 footer-content"
      >
        <section
          class="banner w-full flex items-center justify-center text-center text-white"
        >
          <div class="">
            <h1 class="text-4xl md:text-5xl font-extrabold leading-tight">
              About Us
            </h1>
          </div>
        </section>
      </div>

      <img
        src="https://res.cloudinary.com/dedakscgk/image/upload/v1719703625/landing_background_3_mzr7xh.jpg"
        alt="Background"
        class="footer-image"
      />
    </div>

    <div class="w-9/12 m-auto pt-12 pb-4">
        <h1 class="text-3xl  font-semibold text-center pb-12" >Who Are We</h1>
        <p class=""> 3TI RESEARCH, commonly known as 3T, is an independent African data
            collection 3TI RESEARCH, commonly known as 3T, is an independent African
            data collection services company, providing innovative and seamless data
            collection solutions throughout Senegal, Cote d'Ivoire and neighbouring
            countries, and aims to be a major player in the data collection sector
            services company.</p>
            <br>

            <p>       The company is ready to provide new data solutions to
                the client, with an independent quality control team and to provide
                project management services as required. 3TI RESEARCH is based in Abidjan
                and Dakar, with partners in Mali, Guinea, Niger, Burkina, Liberia,
                Democratic Republic of Congo, Republic of Congo and Cameroon.</p>
    </div>

    <div class="w-9/12 m-auto text-center pt-12 pb-4 grid gap-x-16 grid-cols-2 justify-between">
        <div class="">
            <h1 class="text-3xl  font-semibold text-center pb-12" >Our Vision</h1>
            <p class=""> To be a preferred supplier of choice,
                highly valued by our customers for
                our agile initiative, quality of work
                and professionalism.</p>
        </div>
        <div class="">
            <h1 class="text-3xl  font-semibold text-center pb-12" >Our Mission</h1>
            <p class=""> Doing data collection for our clients at a competitive
                price to support the business and make us both
                profitable in the business.
                
                Committed to providing quality data that represents
                excellent value to our clients, and which they proudly
                display.</p>
        </div>
            
    </div>

    <!-- <div class="w-9/12 m-auto pt-12 pb-4">
      <div>
        <h2 class="text-2xl font-semibold text-center">
          Where can you find us!
        </h2>
        <p class="text-center">
          we are available by call on the respective numbers for each sector and
          our offices
        </p>
      </div>
      <div class="grid md:grid-cols-2 gap-4">
        <div>
          <div class="text-sky-950 py-2 md:pt-12 pb-4">
            <p class="text-lg font-semibold py-2">
              We are available and ready to listen to you. Write to us or call
              us now!
            </p>
            <ul class="grid md:grid-rows-2">
              <li class="px-1 flex">
                <i class="fas fa-map-marker-alt" style="padding-right: 10px"></i
                >Ivory Coast
              </li>
              <li class="px-1 flex">
                <i class="fas fa-envelope" style="padding-right: 10px"></i
                >contact@3tiresearch.com
              </li>
              <li class="px-1">
                <i class="fas fa-phone" style="padding-right: 8px"></i>+225 33
                27 22 51 19
              </li>
              <li class="px-1">
                <i class="fas fa-phone" style="padding-right: 8px"></i>+225 33
                27 22 51 19
              </li>
            </ul>
          </div>
          <div></div>
        </div>
        <div>
          <div class="text-sky-950 py-2 md:pt-12 pb-4">
            <p class="text-lg font-semibold py-2">
              We are available and ready to listen to you. Write to us or call
              us now!
            </p>
            <ul class="grid md:grid-rows-2">
              <li class="px-1">
                <i class="fas fa-map-marker-alt" style="padding-right: 10px"></i
                >Senegal
              </li>
              <li class="px-1">
                <i class="fas fa-envelope" style="padding-right: 10px"></i
                >contact@3tiresearch.com
              </li>
              <li class="px-1">
                <i class="fas fa-phone" style="padding-right: 8px"></i>+ 221 33
                867 55 75
              </li>
              <li class="px-1">
                <i class="fas fa-phone" style="padding-right: 8px"></i> + 221 33
                867 55 75
              </li>
            </ul>
          </div>
          <div></div>
        </div>
      </div>
    </div> -->

    <div class="footer-container">
      <div
        class="w-full bg-green-900 opacity-95 text-white pt-3 pb-8 footer-content"
      >
        <div class="md:w-6/12 m-auto py-8 px-12">
          <h5 class="text-lg text-center py-4">
            Get helpful tips and info from our newsletter!
          </h5>
          <form action="" class="text-2lg flex">
            <div class="flex border-b-2 w-full">
              <input
                type="text"
                class="bg-transparent focus:outline-none border-none w-full md:w-full py-1"
                placeholder="Enter your Email"
              />
              <button type="submit" class="w-full justify-end flex">
                Sign up
              </button>
            </div>
          </form>
        </div>

        <div
          class="md:w-7/12 w-full m-auto flex flex-col md:flex-row md:justify-between items-center px-12 py-8"
        >
          <!-- Navigation Section -->
          <div class="w-full md:w-3/12 mb-4 md:mb-0">
            <h5 class="text-lg capitalize py-1 hidden md:block">Navigation</h5>
            <button
              id="nav-toggle"
              class="w-full text-left border-b-2 text-white py-2 px-4 rounded-md flex justify-between items-center md:hidden"
            >
              <span>Navigation</span>
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div id="nav-menu" class="hidden mt-2 md:block">
              <ul class="text-lg md:text-sm">
                <li class="hover:underline"><a href="#">Home</a></li>
                <li class="hover:underline"><a href="about.html">About</a></li>
                <li class="hover:underline">
                  <a href="index.hmtl">Services</a>
                </li>
                <li class="hover:underline">
                  <a href="contact.html">Contact Us</a>
                </li>
                <li class="hover:underline">
                  <a href="articles.html">Articles</a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Services Section -->
          <div class="w-full md:w-4/12 mb-4 md:mb-0">
            <h5 class="text-lg capitalize py-1 hidden md:block">Services</h5>
            <button
              id="services-toggle"
              class="w-full text-left border-b-2 text-white py-2 px-4 rounded-md flex justify-between items-center md:hidden"
            >
              <span>Services</span>
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div id="services-menu" class="hidden mt-2 md:block">
              <ul class="text-lg md:text-sm">
                <button onclick="redirectToService1()">
                  <li class="hover:underline cursor-pointer">
                    Quantitative Services
                  </li>
                </button>
                <button onclick="redirectToService2()">
                  <li class="hover:underline cursor-pointer">
                    Independent Quality Control
                  </li>
                </button>
                <button onclick="redirectToService3()">
                  <li class="hover:underline cursor-pointer">
                    Programming & Analysis
                  </li>
                </button>
                <button onclick="redirectToService5()">
                  <li class="hover:underline cursor-pointer">
                    Qualitative Services
                  </li>
                </button>
                <button onclick="redirectToService6()">
                  <li class="hover:underline cursor-pointer">
                    Automation & Visualization data
                  </li>
                </button>
                <button onclick="redirectToService3()">
                  <li class="hover:underline cursor-pointer">
                    Type of Quantitative Study
                  </li>
                </button>
              </ul>
            </div>
          </div>

          <!-- Support Section -->

          <!-- Logo and Social Icons -->
          <div class="w-full md:w-3/12">
            <h5 class="text-lg capitalize py-1">
              <a href="#">
                <img
                  src="https://res.cloudinary.com/dedakscgk/image/upload/v1709605253/logo_3ti-removebg-preview_dcvahw.png"
                  class="w-40"
                  alt="LOGO"
                />
              </a>
            </h5>
            <div
              class="flex space-x-4 mt-4 md:justify-center justify-start px-8 md:px-1 md:mt-0"
            >
              <a
                href="https://www.facebook.com/3tiresearch/"
                target="_blank"
                class="social-icon"
              >
                <i class="fa-brands fa-facebook text-xl"></i>
              </a>
              <a
                href="https://www.linkedin.com/company/3tiresearch/?originalSubdomain=ci"
                target="_blank"
                class="social-icon linkedin"
              >
                <i class="fa-brands fa-linkedin text-xl"></i>
              </a>
            </div>
          </div>
        </div>

        <div
          class="w-9/12 border-t-2 py-12 m-auto text-white"
          style="font-size: 13px"
        >
          <h6 class="">&copy;3TIResearch.com, Inc. All rights reserved.</h6>
          <div class="w-full md:w-7/12 mt-4">
            <p class="py-2">
              3TIResearch offers comprehensive market research services and
              self-service tools to support your business decisions. We are not
              a consultancy firm and do not provide direct consulting services.
              Your use of our tools and services is subject to our
              <a href="#" class="underline">Terms of Use</a> and
              <a href="#" class="underline">Privacy Policy</a>.
            </p>
            <p class="py-4">Your Privacy Choices</p>
          </div>
        </div>
      </div>

      <img
        src="https://res.cloudinary.com/dedakscgk/image/upload/v1719703625/enterprise-background_xiwedn.png"
        alt="Background"
        class="footer-image"
      />
    </div>

    <!-- JavaScript for Toggle Menu -->
    <script>
      function redirectToService1() {
        window.location.href = "service.html#service1";
      }

      function redirectToService2() {
        window.location.href = "service.html#service2";
      }

      function redirectToService3() {
        window.location.href = "service.html#service3";
      }

      function redirectToService4() {
        window.location.href = "service.html#service4";
      }

      function redirectToService5() {
        window.location.href = "service.html#service5";
      }

      function redirectToService6() {
        window.location.href = "service.html#service6";
      }

      document
        .getElementById("nav-toggle")
        .addEventListener("click", function () {
          document.getElementById("nav-menu").classList.toggle("hidden");
        });
      document
        .getElementById("services-toggle")
        .addEventListener("click", function () {
          document.getElementById("services-menu").classList.toggle("hidden");
        });
      document
        .getElementById("support-toggle")
        .addEventListener("click", function () {
          document.getElementById("support-menu").classList.toggle("hidden");
        });

      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          document.getElementById("mobile-menu").classList.toggle("hidden");
        });

      document
        .getElementById("menu-close")
        .addEventListener("click", function () {
          document.getElementById("mobile-menu").classList.add("hidden");
        });

      // JavaScript to handle dropdown functionality
      document.querySelectorAll(".dropdown-button").forEach((button) => {
        button.addEventListener("click", () => {
          const dropdownContent = button.nextElementSibling;
          dropdownContent.classList.toggle("hidden");
          // Toggle the icon between chevron-down and chevron-up
          const icon = button.querySelector("i");
          icon.classList.toggle("fa-chevron-down");
          icon.classList.toggle("fa-chevron-up");
        });
      });
    </script>
  </body>
</html>
