<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="64x64" href="https://res.cloudinary.com/dedakscgk/image/upload/v1722448052/3TIgreenPlan_de_travail_1_bhib3u.png" />
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>Articles</title>
    
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
            body{
                font-family: montserrat;
            }
            .content{
                background-image: url('https://res.cloudinary.com/dedakscgk/image/upload/v1717181224/cover_ra0z3c.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-size: 100%;
            }
    
            .footer-content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                background-color: rgba(0, 0, 0, 0.6); 
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
    
            .footer-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; 
                z-index: 1;
            } 

            .header-container {
                position: relative;
                height: 200px; 
                overflow: hidden;
            }
            
            .footer-container {
                position: relative;
                height: 620px; 
                overflow: hidden;
            }
    
           /* .dos{
                background-image: url('https://res.cloudinary.com/dedakscgk/image/upload/v1702985333/groupe-cinq-etudiants-africains-passant-du-temps-ensemble-campus-cour-universite-amis-afro-noirs-etudiant-theme-education_kgwxrz.jpg');
                background-size: 100%;
                background-position: center;
                background-clip: initial;
            } */
        </style>
    </head>
    <body class="w-full lg:w-full sm:w-full">
            
        <!-- Before Header -->
            <div class="w-full bg-green-800 text-white">
                <div class="w-full max-w-screen-lg mx-auto px-4">
                    <div class="flex flex-row justify-between md:flex-row md:justify-between md:items-center py-1">
                        <div class="flex flex-col md:flex-row text-sm space-y-1 md:space-y-0">
                            <p><a href="#">(+225) 27 22 51 19 33</a></p>
                            <p class="md:px-4"><a href="mailto:contact@3tiresearch.com">contact@3tiresearch.com</a></p>
                        </div>
                        <div class="flex space-x-4 mt-4 justify-center md:mt-0">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Header -->
            <div class="w-full py-2 shadow-md">
                <div class="w-full max-w-screen-lg mx-auto px-4">
                    <nav class="flex items-center justify-between">
                        <div>
                            <a href="#">
                                <img src="https://res.cloudinary.com/dedakscgk/image/upload/v1722448052/3TIgreenPlan_de_travail_1_bhib3u.png" class="w-32" alt="LOGO">
                            </a>
                        </div>
                        <div class="block md:hidden">
                            <button id="menu-toggle" class="text-gray-700 focus:outline-none">
                                <i class="fa-solid fa-bars text-2xl"></i>
                            </button>
                        </div>
                        <div class="hidden md:flex py-3 w-full md:w-auto">
                            <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 font-bold text-gray-700">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="index.html">Services</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="articles.html">Articles</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>    
            </div>

        <!-- Mobile Menu -->
            <div id="mobile-menu" class="fixed inset-0 bg-white z-50 md:hidden hidden">
                <div class="flex flex-col items-center pt-10">
                    <button id="menu-close" class="absolute top-4 right-4 text-gray-700 text-2xl">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <ul class="flex flex-col space-y-4 font-bold text-gray-700">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="index.html">Services</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="articles.html">Articles</a></li>
                    </ul>
                </div>
            </div>


        <div class="header-container">
            <div class="w-full bg-black opacity-80 text-white pt-2 pb-8 footer-content">
                <section class="banner w-full flex items-center md:w-6/12 m-auto text-white">
                    <div class="px-6 md:px-1">
                        <div class="flex md:w-4/12 justify-between italic text-sm">
                            <p>Author</p>
                            <p>05th August 2024</p>
                        </div>
                        <h1 class="text-xl md:text-3xl pt-4 font-semibold leading-tight">
                            The ROI of Market Research
                        </h1>
                        <p class="py-3 text-sm">Is market research worth the investment? Absolutely! Discover how our research can help you quantify the impact of your marketing efforts and demonstrate the value of your business to stakeholders.</p>
                    </div>
                </section>
            </div>
    
            <img src="https://res.cloudinary.com/dedakscgk/image/upload/v1719703625/landing_background_3_mzr7xh.jpg" alt="Background" class="footer-image">
        </div>

        <div class="md:w-6/12 px-6 md:px-1 py-12 m-auto">
            <h2 class="font-semibold text-xl pt-6">Quantifying the Impact</h2>

            <ul class="list-disc px-12 py-2 text-2sm">
                <li><strong>Increased Revenue:</strong> Our research helps you identify new market opportunities, optimize product launches, and refine your marketing strategies, ultimately leading to increased sales and revenue growth.</li>
                <li><strong>Improved Customer Satisfaction:</strong> By understanding your customers' needs and preferences, you can tailor your products and services to meet their expectations,   
                leading to higher customer satisfaction and loyalty.</li>
                <li><strong>Reduced Costs:</strong> Market research helps you make data-driven decisions, avoiding costly mistakes and optimizing resource allocation.</li>
                <li><strong>Mitigated Risks:</strong> By identifying potential challenges and opportunities early on, you can develop strategies to minimize risks and maximize rewards.</li>
            </ul>

            <h2 class="font-semibold pt-4 text-xl">Demonstrating Value to Stakeholders</h2>

            <ul class="list-disc px-12 py-2 text-2sm">
                <li><strong>Data-Driven Decision Making:</strong> Our research provides you with the evidence you need to support your strategic initiatives and gain buy-in from key stakeholders.</li>
                <li><strong>Performance Measurement:</strong> By tracking key performance indicators (KPIs), we help you measure the impact of your marketing efforts and demonstrate the ROI of your investments.</li>
                <li><strong>Competitive Advantage:</strong> Our research helps you identify competitive gaps and develop strategies to outperform your rivals, strengthening your market position.</li>
            </ul>

            <h2 class="font-semibold pt-3 text-xl">Let's Calculate Your ROI</h2>

            <p class="py-2">We believe that the true value of market research lies in its ability to drive tangible business results. Let us help you calculate the ROI of your market research initiatives. Our team will work closely with you to identify the right metrics, collect and analyze data, and demonstrate the impact of your research on your bottom line.</p>

            <p class="py-2">Don't let the potential of market research go untapped. Contact us today to learn how we can help you prove its worth and unlock its full potential.</p>

            <p class="py-2"><strong>3tiResearch</strong> - Your Partner in Driving Business Value.</p>

        </div>
        



        <div class="footer-container">
          <div
            class="w-full bg-green-900 opacity-95 text-white pt-3 pb-8 footer-content"
          >
            <div class="md:w-6/12 m-auto py-8 px-12">
              <h5 class="text-lg text-center py-4">
                Get helpful tips and info from our newsletter!
              </h5>
              <form action="" class="text-2lg flex">
                <div class="flex border-b-2 w-full">
                  <input
                    type="text"
                    class="bg-transparent focus:outline-none border-none w-full md:w-full py-1"
                    placeholder="Enter your Email"
                  />
                  <a href="#" onclick="window.open('mailto:contact@3tiresearch.com.com?subject=Follow your news letter')" class="w-full">
                    <button type="submit" class="w-full justify-end flex">
                      Sign up
                    </button>
                  </a>
                </div>
              </form>
            </div>
    
            <div
              class="md:w-7/12 w-full m-auto flex flex-col md:flex-row md:justify-between items-center px-12 py-8"
            >
              <!-- Navigation Section -->
              <div class="w-full md:w-3/12 mb-4 md:mb-0">
                <h5 class="text-lg capitalize py-1 hidden md:block">Navigation</h5>
                <button
                  id="nav-toggle"
                  class="w-full text-left border-b-2 text-white py-2 px-4 rounded-md flex justify-between items-center md:hidden"
                >
                  <span>Navigation</span>
                  <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div id="nav-menu" class="hidden mt-2 md:block">
                  <ul class="text-lg md:text-sm">
                    <li class="hover:underline"><a href="index.html" class="home">Home</a></li>
                    <li class="hover:underline"><a href="about.html">About</a></li>
                    <li class="hover:underline">
                      <a href="service.html">Services</a>
                    </li>
                    <li class="hover:underline">
                      <a href="contact.html">Contact Us</a>
                    </li>
                    <li class="hover:underline">
                      <a href="articles.html">Articles</a>
                    </li>
                  </ul>
                </div>
              </div>
    
              <!-- Services Section -->
              <div class="w-full md:w-4/12 mb-4 md:mb-0">
                <h5 class="text-lg capitalize py-1 hidden md:block">Services</h5>
                <button
                  id="services-toggle"
                  class="w-full text-left border-b-2 text-white py-2 px-4 rounded-md flex justify-between items-center md:hidden"
                >
                  <span>Services</span>
                  <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div id="services-menu" class="hidden mt-2 md:block">
                  <ul class="text-lg md:text-sm">
                    <button onclick="redirectToService1()">
                      <li class="hover:underline cursor-pointer">
                        Quantitative Services
                      </li>
                    </button>
                    <button onclick="redirectToService2()">
                      <li class="hover:underline cursor-pointer">
                        Independent Quality Control
                      </li>
                    </button>
                    <button onclick="redirectToService3()">
                      <li class="hover:underline cursor-pointer">
                        Programming & Analysis
                      </li>
                    </button>
                    <button onclick="redirectToService5()">
                      <li class="hover:underline cursor-pointer">
                        Qualitative Services
                      </li>
                    </button>
                    <button onclick="redirectToService6()">
                      <li class="hover:underline cursor-pointer">
                        Automation & Visualization data
                      </li>
                    </button>
                    <button onclick="redirectToService3()">
                      <li class="hover:underline cursor-pointer">
                        Type of Quantitative Study
                      </li>
                    </button>
                  </ul>
                </div>
              </div>
    
              <!-- Support Section -->
    
              <!-- Logo and Social Icons -->
              <div class="w-full md:w-3/12">
                <h5 class="text-lg capitalize py-1">
                  <a href="index.html">
                    <img
                      src="https://res.cloudinary.com/dedakscgk/image/upload/v1709605253/logo_3ti-removebg-preview_dcvahw.png"
                      class="w-40"
                      alt="LOGO"
                    />
                  </a>
                </h5>
                <div
                  class="flex space-x-4 mt-4 md:justify-center justify-start px-8 md:px-1 md:mt-0"
                >
                  <a
                    href="https://www.facebook.com/3tiresearch/"
                    target="_blank"
                    class="social-icon"
                  >
                    <i class="fa-brands fa-facebook text-xl"></i>
                  </a>
                  <a
                    href="https://www.linkedin.com/company/3tiresearch/?originalSubdomain=ci"
                    target="_blank"
                    class="social-icon linkedin"
                  >
                    <i class="fa-brands fa-linkedin text-xl"></i>
                  </a>
                </div>
              </div>
            </div>
    
            <div
              class="w-9/12 border-t-2 py-12 m-auto text-white"
              style="font-size: 13px"
            >
              <h6 class="">&copy;3TIResearch.com, Inc. All rights reserved.</h6>
              <div class="w-full md:w-7/12 mt-4">
                <p class="py-2"> <span class="hidden md:inline">
                  3TIResearch offers comprehensive market research services and self-service tools to 
                  support your business decisions. We are not a consultancy firm and do not provide direct consulting services.
                  Your use of our tools and services is subject to our
              </span> <a href="privacy.html" class="underline">Privacy Policy</a>.</p>
                <p class="py-4">Your Privacy Choices</p>
              </div>
            </div>
          </div>
    
          <img
            src="https://res.cloudinary.com/dedakscgk/image/upload/v1719703625/enterprise-background_xiwedn.png"
            alt="Background"
            class="footer-image"
          />
      </div>



    <!-- JavaScript for Toggle Menu -->
    <script>
        document.getElementById('nav-toggle').addEventListener('click', function() {
            document.getElementById('nav-menu').classList.toggle('hidden');
        });
        document.getElementById('services-toggle').addEventListener('click', function() {
            document.getElementById('services-menu').classList.toggle('hidden');
        });
        document.getElementById('support-toggle').addEventListener('click', function() {
            document.getElementById('support-menu').classList.toggle('hidden');
        });

        document.getElementById('menu-toggle').addEventListener('click', function() {
            document.getElementById('mobile-menu').classList.toggle('hidden');
        });

        document.getElementById('menu-close').addEventListener('click', function() {
            document.getElementById('mobile-menu').classList.add('hidden');
        });

        function redirectToService1() {
        window.location.href = "service.html#service1";
    }
    
    function redirectToService2() {
        window.location.href = "service.html#service2";
    }

    
    function redirectToService3() {
        window.location.href = "service.html#service3";
    }

    
    function redirectToService4() {
        window.location.href = "service.html#service4";
    }

    
    function redirectToService5() {
        window.location.href = "service.html#service5";
    }

    
    function redirectToService6() {
        window.location.href = "service.html#service6";
    }


        // JavaScript to handle dropdown functionality
        document.querySelectorAll('.dropdown-button').forEach(button => {
            button.addEventListener('click', () => {
                const dropdownContent = button.nextElementSibling;
                dropdownContent.classList.toggle('hidden');
                // Toggle the icon between chevron-down and chevron-up
                const icon = button.querySelector('i');
                icon.classList.toggle('fa-chevron-down');
                icon.classList.toggle('fa-chevron-up');
            });
        });

    </script>
    </body>
</html>