<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="64x64" href="https://res.cloudinary.com/dedakscgk/image/upload/v1722448052/3TIgreenPlan_de_travail_1_bhib3u.png" />
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>Services - 3tiresearch</title>
    
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
            body{
                font-family: montserrat;
            }
            
            .content{
                background-image: url('https://res.cloudinary.com/dedakscgk/image/upload/v1717181224/cover_ra0z3c.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-size: 100%;
            }
    
            .footer-content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                background-color: rgba(0, 0, 0, 0.6); 
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
    
            .footer-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; 
                z-index: 1;
            } 

            .header-container {
                position: relative;
                height: 330px; 
                overflow: hidden;
            }
            
            .footer-container {
                position: relative;
                height: 620px; 
                overflow: hidden;
            }
    
           /* .dos{
                background-image: url('https://res.cloudinary.com/dedakscgk/image/upload/v1702985333/groupe-cinq-etudiants-africains-passant-du-temps-ensemble-campus-cour-universite-amis-afro-noirs-etudiant-theme-education_kgwxrz.jpg');
                background-size: 100%;
                background-position: center;
                background-clip: initial;
            } */
        </style>
    </head>
    <body class="w-full lg:w-full sm:w-full">
            
        <!-- Before Header -->
            <div class="w-full bg-green-800 text-white">
                <div class="w-full max-w-screen-lg mx-auto px-4">
                    <div class="flex flex-row justify-between md:flex-row md:justify-between md:items-center py-1">
                        <div class="flex flex-col md:flex-row text-sm space-y-1 md:space-y-0">
                            <p><a href="#">(+225) 07 58 80 14 10</a></p>
                            <p class="md:px-4"><a href="">contact@3tiresearch.com</a></p>
                        </div>
                        <div class="flex space-x-4 mt-4 justify-center md:mt-0">
                            <a href="https://www.facebook.com/3tiresearch/" type="_blank"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/3tiresearch/?originalSubdomain=ci" type="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Header -->
            <div class="w-full py-2 shadow-md">
                <div class="w-full max-w-screen-lg mx-auto px-4">
                    <nav class="flex items-center justify-between">
                        <div>
                            <a href="#">
                                <img src="https://res.cloudinary.com/dedakscgk/image/upload/v1722448052/3TIgreenPlan_de_travail_1_bhib3u.png" class="w-32" alt="LOGO">
                            </a>
                        </div>
                        <div class="block md:hidden">
                            <button id="menu-toggle" class="text-gray-700 focus:outline-none">
                                <i class="fa-solid fa-bars text-2xl"></i>
                            </button>
                        </div>
                        <div class="hidden md:flex py-3 w-full md:w-auto">
                            <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 font-bold text-gray-700">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="articles.html">Articles</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>    
            </div>

        <!-- Mobile Menu -->
            <div id="mobile-menu" class="fixed inset-0 bg-white z-50 md:hidden hidden">
                <div class="flex flex-col items-center pt-10">
                    <button id="menu-close" class="absolute top-4 right-4 text-gray-700 text-2xl">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <ul class="flex flex-col space-y-4 font-semibold text-gray-700">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="articles.html">Articles</a></li>
                    </ul>
                </div>
            </div>


        <div class="header-container">
            <div class="w-full bg-black opacity-70 text-white pt-32 pb-8 footer-content">
                <section class="banner w-full flex items-center justify-center text-center text-white">
                    <div class="">
                        <h1 class="text-4xl md:text-5xl font-extrabold leading-tight">
                            Services
                        </h1>
                    </div>
                </section>
            </div>
    
            <img src="https://res.cloudinary.com/dedakscgk/image/upload/v1719703625/landing_background_3_mzr7xh.jpg" alt="Background" class="footer-image">
        </div>

       <div class="w-9/12 m-auto py-6" id="service1">
            <div>
                <h2 class="md:text-3xl text-xl font-semibold">Quantitative Services</h2>
                <p class="text-sm md:text-2lg">Our quantitative analysis services leverage statistical methods to transform raw data into actionable insights. By meticulously examining numerical data, we uncover patterns, trends, and correlations that inform strategic decision-making.</p>
            </div>
            <div class="grid md:grid-cols-3 gap-4 py-8">
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Computer Assisted Telephonic Interview (CATI)</h2>
                    <p>Trained interviewers conduct surveys over the phone using computer-assisted technology.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Pen And Paper Interview (PAPI)</h2>
                    <p>Interviewers conduct face-to-face interviews using paper questionnaires.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Computer Assisted Personal Interview (CAPI)</h2>
                    <p>Interviewers conduct face-to-face interviews using handheld devices or tablets.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Computer Assisted Web Interview (CAWI)</h2>
                    <p>Respondents complete surveys online through a web browser.</p>
                </div>
            </div>
       </div>

       <div class="w-9/12 m-auto py-6" id="service2">
        <div>
            <h2 class="md:text-3xl text-xl font-semibold">Independent Quality Control</h2>
            <p class="text-sm md:text-2lg">Maintain the highest standards of data integrity with our rigorous independent quality control processes. Our dedicated team ensures data accuracy, reliability, and adherence to industry best practices, providing you with confidence in your research outcomes.

            </p>
        </div>
        <div class="grid md:grid-cols-3 gap-4 py-8">
            <div class="border py-4 px-4 rounded-sm">
                <h2 class="md:text-sm font-semibold text-lg py-2">Time Check</h2>
                <p>Verify the duration of interviews or surveys to ensure compliance with ethical guidelines and data accuracy.</p>
            </div>
            <div class="border py-4 px-4 rounded-sm">
                <h2 class="md:text-sm font-semibold text-lg py-2">Response Check</h2>
                <p>Validate the completeness and consistency of respondent answers to maintain data quality.</p>
            </div>
            <div class="border py-4 px-4 rounded-sm">
                <h2 class="md:text-sm font-semibold text-lg py-2">GPS Check</h2>
                <p>Confirm the geographic location of respondents to verify data accuracy and identify potential fraud.</p>
            </div>
            <div class="border py-4 px-4 rounded-sm">
                <h2 class="md:text-sm font-semibold text-lg py-2">Forensic Check</h2>
                <p>Detect patterns of inconsistent or suspicious responses to identify potential data anomalies.</p>
            </div>
            <div class="border py-4 px-4 rounded-sm">
                <h2 class="md:text-sm font-semibold text-lg py-2">Audio Listening</h2>
                <p>Review recorded interviews to assess interviewer performance, respondent behavior, and data quality.</p>
            </div>
            <div class="border py-4 px-4 rounded-sm">
                <h2 class="md:text-sm font-semibold text-lg py-2">Callback</h2>
                <p>Contact respondents to clarify responses, resolve issues, or obtain additional information.</p>
            </div>
        </div>
        </div>

        <div class="w-9/12 m-auto py-6" id="service3">
            <div>
                <h2 class="md:text-3xl text-xl font-semibold">Types of Quantitative Studies</h2>
                <p class="text-sm md:text-2lg">Our skilled data analysts employ advanced programming languages and statistical software to process and analyze complex datasets. By harnessing the power of technology, we deliver accurate and reliable results that drive informed conclusions.

                </p>
            </div>
            <div class="grid md:grid-cols-3 gap-4 py-8">
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Concepts Test</h2>
                    <p>Evaluate the effectiveness of new product or service concepts by gathering consumer feedback.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">B2B Studies</h2>
                    <p>Conduct research among businesses to understand their needs, preferences, and buying behavior.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-2lg text-lg">Mystery Shopping</h2>
                    <p class="md:text-sm font-semibold text-lg py-2">Assess the quality of customer service and product offerings by simulating customer interactions.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Product Test</h2>
                    <p>Evaluate product performance, usability, and consumer satisfaction through testing.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Retails Audit</h2>
                    <p>Collect data on product availability, pricing, and merchandising to optimize store performance.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Corporate Reputation</h2>
                    <p>Measure public perception of a company's brand and image.</p>
                </div>
            </div>
        </div>

        <div class="w-9/12 m-auto py-6" id="service4">
            <div>
                <h2 class="md:text-3xl text-xl font-semibold">Programming Analysis</h2>
                <p class="text-sm md:text-2lg">Streamline your research process with our automation solutions. We create efficient workflows and develop interactive data visualizations that facilitate clear communication of findings to stakeholders.

                </p>
            </div>
            <div class="grid md:grid-cols-3 gap-4 py-8">
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Data Validation, re-coding, back coding.</h2>
                    <p> Data is cleaned, categorized, and prepared for analysis.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Data conversion for cross platform analysis / visualizations.</h2>
                    <p>Data is transformed for compatibility with different analysis tools and visualizations.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Multi-Visit surveys for In-home product placements.</h2>
                    <p>Repeated data collection for in-home product placements or tracking changes over time.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Customer / Employee Satisfaction Surveys.</h2>
                    <p>Measuring levels of satisfaction and identifying areas for improvement.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Data Entry scripts.</h2>
                    <p>Efficient data input processes for large datasets.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Complex Level Data.</h2>
                    <p>Handling intricate data structures and analyses.</p>
                </div>
            </div>
        </div>


        <div class="w-9/12 m-auto py-6" id="service5">
            <div>
                <h2 class="md:text-3xl text-xl font-semibold">Qualitative Services</h2>
                <p class="text-sm md:text-2lg">Complement your quantitative research with our qualitative services. We delve into the depth of consumer experiences, opinions, and motivations through in-depth interviews, focus groups, and other qualitative techniques.

                </p>
            </div>
            <div class="grid md:grid-cols-3 gap-4 py-8">
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Focus Group.</h2>
                    <p>Facilitated discussions with a group of participants to gather insights on a specific topic.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">In-depth Interviews.</h2>
                    <p>One-on-one conversations with individuals to explore their perspectives in detail.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Audio Video Recording.</h2>
                    <p>Capturing verbal and non-verbal cues for analysis.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Simultaneous Translation.</h2>
                    <p>Providing language services for diverse participant groups.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Moderation.</h2>
                    <p>Skilled facilitation of focus groups and interviews.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Viewing Facilities for Clients.</h2>
                    <p>Providing spaces for clients to observe research sessions.</p>
                </div>
            </div>
        </div>

        
        <div class="w-9/12 m-auto py-6" id="service6">
            <div>
                <h2 class="md:text-3xl text-xl font-semibold">Automation & Data Visualisation</h2>
                <p class="text-sm md:text-2lg">We optimize your research efficiency through advanced automation tools and captivating data visualizations. By streamlining data processing and analysis, we free up your time for strategic insights.

                </p>
            </div>
            <div class="grid md:grid-cols-3 gap-4 py-8">
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Complete Software development – for All platforms – Windows, Web, IOS and Android.</h2>
                    <p>Building tailored tools for specific data analysis needs.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Tools & VBA Macros.</h2>
                    <p>Applying statistical methods to uncover insights and trends.</p>
                </div>
                <div class="border py-4 px-4 rounded-sm">
                    <h2 class="md:text-sm font-semibold text-lg py-2">Data Visualization (Dashboards) – Offline & Online.</h2>
                    <p>Creating interactive dashboards and reports for easy understanding.</p>
                </div>
            </div>
        </div>

        <div class="footer-container">
            <div class="w-full bg-green-900 opacity-95 text-white pt-3 pb-8 footer-content">
                <div class="md:w-6/12 m-auto py-8 px-12">
                    <h5 class="text-lg text-center py-4">Get helpful tips and info from our newsletter!</h5>
                    <form action="" class="text-2lg flex">
                        <div class="flex border-b-2 w-full">
                            <input type="text" class="bg-transparent focus:outline-none border-none w-full md:w-full py-1" placeholder="Enter your Email">
                            <button type="submit" class="w-full justify-end flex">Sign up</button>
                        </div>
                    </form>
                </div>
    
                <div class="md:w-7/12 w-full m-auto flex flex-col md:flex-row md:justify-between items-center px-12 py-8">
                    <!-- Navigation Section -->
                    <div class="w-full md:w-3/12 mb-4 md:mb-0">
                        <h5 class="text-lg capitalize py-1 hidden md:block">Navigation</h5>
                        <button id="nav-toggle" class="w-full text-left border-b-2 text-white py-2 px-4 rounded-md flex justify-between items-center md:hidden">
                            <span>Navigation</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div id="nav-menu" class="hidden mt-2 md:block">
                            <ul class="text-lg md:text-sm">
                                <li class="hover:underline" ><a href="#">Home</a></li>
                                <li class="hover:underline"><a href="about.html">About</a></li>
                                <li class="hover:underline"><a href="index.hmtl">Services</a></li>
                                <li class="hover:underline"><a href="contact.html">Contact Us</a></li>
                                <li class="hover:underline"><a href="articles.html">Articles</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <!-- Services Section -->
                    <div class="w-full md:w-4/12 mb-4 md:mb-0">
                        <h5 class="text-lg capitalize py-1 hidden md:block">Services</h5>
                        <button id="services-toggle" class="w-full text-left border-b-2  text-white py-2 px-4 rounded-md flex justify-between items-center md:hidden">
                            <span>Services</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div id="services-menu" class="hidden mt-2 md:block">
                            <ul class="text-lg md:text-sm">
                                <button onclick="redirectToService1()"><li class="hover:underline cursor-pointer">Quantitative Services</li></button>
                                <button onclick="redirectToService2()"><li class="hover:underline cursor-pointer">Independent Quality Control</li></button>
                                <button onclick="redirectToService3()"><li class="hover:underline cursor-pointer">Programming & Analysis</li></button>
                                <button onclick="redirectToService5()"><li class="hover:underline cursor-pointer">Qualitative Services</li></button>
                                <button onclick="redirectToService6()"><li class="hover:underline cursor-pointer">Automation & Visualization data</li></button>
                                <button onclick="redirectToService3()"><li class="hover:underline cursor-pointer">Type of Quantitative Study</li></button>
    
                            </ul>
                        </div>
                    </div>
    
                    <!-- Support Section -->
                   
    
                    <!-- Logo and Social Icons -->
                    <div class="w-full md:w-3/12">
                        <h5 class="text-lg capitalize py-1">
                            <a href="#">
                                <img src="https://res.cloudinary.com/dedakscgk/image/upload/v1709605253/logo_3ti-removebg-preview_dcvahw.png" class="w-40" alt="LOGO">
                            </a>
                        </h5>
                        <div class="flex space-x-4 mt-4 md:justify-center justify-start px-8 md:px-1 md:mt-0">
                            <a href="https://www.facebook.com/3tiresearch/" target="_blank" class="social-icon">
                                <i class="fa-brands fa-facebook text-xl"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/3tiresearch/?originalSubdomain=ci" target="_blank" class="social-icon linkedin">
                                <i class="fa-brands fa-linkedin text-xl"></i>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div class="w-9/12 border-t-2 py-12 m-auto text-white" style="font-size: 13px;">
                    <h6 class="">&copy;3TIResearch.com, Inc. All rights reserved.</h6>
                    <div class="w-full md:w-7/12 mt-4">
                        <p class="py-2">3TIResearch offers comprehensive market research services and self-service tools to 
                            support your business decisions. We are not a consultancy firm and do not provide direct consulting services.
                            Your use of our tools and services is subject to our <a href="#" class="underline">Terms of Use</a> and <a href="#" class="underline">Privacy Policy</a>.</p>
                        <p class="py-4">Your Privacy Choices</p>
                    </div>
                </div>
            </div>
    
            <img src="https://res.cloudinary.com/dedakscgk/image/upload/v1719703625/enterprise-background_xiwedn.png" alt="Background" class="footer-image">
        </div>



    <!-- JavaScript for Toggle Menu -->
    <script>
        function redirectToService1() {
        window.location.href = "service.html#service1";
    }
    
    function redirectToService2() {
        window.location.href = "service.html#service2";
    }

    
    function redirectToService3() {
        window.location.href = "service.html#service3";
    }

    
    function redirectToService4() {
        window.location.href = "service.html#service4";
    }

    
    function redirectToService5() {
        window.location.href = "service.html#service5";
    }

    
    function redirectToService6() {
        window.location.href = "service.html#service6";
    }
        document.getElementById('nav-toggle').addEventListener('click', function() {
            document.getElementById('nav-menu').classList.toggle('hidden');
        });
        document.getElementById('services-toggle').addEventListener('click', function() {
            document.getElementById('services-menu').classList.toggle('hidden');
        });
        document.getElementById('support-toggle').addEventListener('click', function() {
            document.getElementById('support-menu').classList.toggle('hidden');
        });

        document.getElementById('menu-toggle').addEventListener('click', function() {
            document.getElementById('mobile-menu').classList.toggle('hidden');
        });

        document.getElementById('menu-close').addEventListener('click', function() {
            document.getElementById('mobile-menu').classList.add('hidden');
        });


        // JavaScript to handle dropdown functionality
        document.querySelectorAll('.dropdown-button').forEach(button => {
            button.addEventListener('click', () => {
                const dropdownContent = button.nextElementSibling;
                dropdownContent.classList.toggle('hidden');
                // Toggle the icon between chevron-down and chevron-up
                const icon = button.querySelector('i');
                icon.classList.toggle('fa-chevron-down');
                icon.classList.toggle('fa-chevron-up');
            });
        });

    </script>
    </body>
</html>