<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <style>
    </style>
</head>
<body>
    <div class=" grid grid-cols-2 gap-4 py-12 w-9/12 m-auto">
        <div class="bg-gray-50 px-12 py-12">
            <h2 class="text-2xl">Ask an Expert</h2>
            <p>Get the right guidance with an expert by your side.</p>
            <button class="py-3 bg-green-700 rounded-full px-8 text-white my-4">Get some help</button>
        </div>
        <div class="bg-gray-50 px-12 py-12">
            <h2 class="text-2xl">Call an agent at (+221) 33 867 55 75</h2>
            <p>Mon-Fri: 5 a.m.-7 p.m. PT</p>
            <p>Weekends: 7 a.m.-4 p.m. PT</p>
        </div>
    </div>
</body>
</html>
