<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>

    </style>
</head>
<body>

<!--Before Header-->
    <div class="w-full bg-green-800 text-white" id="">
        <div class="w-9/12 m-auto">
            <div class="flex justify-between">
                <div class="grid grid-cols-2 w-3/12 text-sm py-1" id="">
                    <p><a href="#">+ 225 27 22 51 19</a></p>
                    <p><a href="">contact@3tiresearch.com</a></p>
                </div>
                <div class="" id="">
                    <p class=""><a href=""><i class="fa-brands fa-square-facebook"></i></a> <a href=""><i class="fa-brands fa-linkedin"></i></a></p>
                </div>
            </div>
        </div>
    </div>

<!--Header-->
    <div class="w-full py-2 shadow-md" id="">
        <div class="w-9/12 m-auto">
            <nav class="flex justify-between">
                <div>
                    <a class="" href="#">
                        <img src="https://res.cloudinary.com/dedakscgk/image/upload/v1709605253/logo_3ti-removebg-preview_dcvahw.png" class="w-32" alt="LOGO">
                    </a>
                </div>
                <div class="py-3 w-4/12 font-bold text-gray-700" id="">
                    <ul class="flex justify-between">
                      <li class="">
                        <a class="" href="home.php">Home</a>
                      </li>
                      <li class="">
                        <a class="" href="about.php">About</a>
                      </li>
                      <li class="">
                        <a class="" href="services.php">Services</a>
                      </li>
                      <li class="">
                        <a class="" href="contact.php">Contact Us</a>
                      </li>
                      <li class="">
                        <a class="" href="blog.php">Blog</a>
                      </li>
                    </ul>
                </div>
            </nav>
        </div>    
    </div>
</body>
</html>

