<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <style>
    </style>
</head>
<body>
    <div class="py-12 w-full m-auto">
        <div class="grid grid-cols-3 w-9/12 m-auto gap-8">
            <div class="border border-gray-600 px-6 py-8">
                <h2 class="text-xl py-2 font-bold">Team work</h2>
                <p>3tiResearch Enterprise is a small team of experienced Data collection individuals, Project manager, Quality Controller and Data Manager working together to produce innovative and required after work;</p>
                <button class="rounded-full px-6 py-2 my-3 border-2 text-green-700 border-green-700 font-bold">Learn more </button>
            </div>
            <div class="border border-gray-600 px-6 py-8">
                <h2 class="text-xl py-2 font-bold">Professionals</h2>
                <p>Businesses and community organisations of a team of over 50 professionals consultants with long experiences in the market research;</p>
                <button class="rounded-full px-6 py-2 my-3 border-2 text-green-700 border-green-700 font-bold">Learn more </button>
            </div>
            <div class="border border-gray-600 px-6 py-8">
                <h2 class="text-xl py-2 font-bold">Leadership</h2>
                <p>The team is headed up by the Business Director, the Operations Director, the Heads of Projects and the Managing Director .</p>
                <button class="rounded-full px-6 py-2 my-3 border-2 text-green-700 border-green-700 font-bold">Learn more </button>
            </div>
        </div>
    </div>
</body>
</html>
